<header class="flexCenter">
    <div class="nav flexCenter"> 
        <ul class="ul">
           <li >
                <a class="nav-link active" href="index.php?list">LISTE DES NAVETS</a>
           </li>
           <li >
                <a class="nav-link active" href="index.php?list_actors">LISTE DES ACTEURS</a>
            </li>
        </ul>
     </div>

    <div class="header flexCenter">
        <h1>LES NAVETS MARVELS</h1>
        <p>
            bim! bam! boum!: DES FILMS COMME DES BIG MACS
        </p>
    </div>
</header>
