<ul class="nav flex-column">
    <li class="nav-item">
    <a class="nav-link active" href="index.php?list">Liste des films</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="index.php?new">Ajouter un film</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="index.php?loop">boucle</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="index.php?function">fonction</a>
     </li>
     <li class="nav-item">
        <a class="nav-link" href="index.php?del">suprimer</a>
     </li>
</ul>