<div class="nav"> 
   <ul class="ul">
      <li >
      <a class="nav-link active" href="index.php?list">LISTE DES NAVETS</a>
      </li>
      <li >
      <a class="nav-link" href="index.php?new">AJOUTER UN NAVET</a>
      </li>
      <li >
      <a class="nav-link" href="index.php?loop">boucle</a>
      </li>
      <li >
         <a class="nav-link" href="index.php?function">fonction</a>
      </li>
      <li >
         <a class="nav-link" href="index.php?del">suprimer</a>
      </li>
   </ul>
</div>